<mat-card [class]="disabled ? 'disabled' : 'hover-item'"
          [routerLink]="disabled ? null : link"
          matRipple
          style="text-align: center; height: 150px;">
  <h2 class="m-1"><strong>{{ cardTitle | translate }}</strong></h2>
  <mat-divider style="position: inherit"></mat-divider>
  <p class="pt-3 flat-text-color trunc-content">{{ cardContent | translate }}</p>
</mat-card>
