<div [style.minHeight.px]="scrollbarService.contentHeight" class="row">

  <div class="col-lg-4"></div>

  <div class="col-lg-4 m-auto">
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

          <h2>{{ 'MODULES.COMMON.LOGIN.TITLE' | translate }}</h2>

          <mat-form-field class="mb-2">
            <mat-icon class="me-2" matPrefix>email</mat-icon>
            <mat-label>{{ 'MODULES.COMMON.LOGIN.EMAIL' | translate }}</mat-label>
            <input formControlName="email" matInput required type="email">
            <mat-error>{{ 'MODULES.COMMON.LOGIN.ERROR_EMAIL' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="mb-3">
            <mat-icon class="me-2" matPrefix>lock</mat-icon>
            <mat-label>{{ 'MODULES.COMMON.LOGIN.PASSWORD' | translate }}</mat-label>
            <input formControlName="password" matInput required type="password">
            <mat-error>{{ 'MODULES.COMMON.LOGIN.ERROR_PASSWORD' | translate }}</mat-error>
          </mat-form-field>

          <button color="primary" type="submit" mat-raised-button>{{ 'MODULES.COMMON.LOGIN.TITLE' | translate }}</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-4"></div>

</div>
