<app-content-header headerTitle="MODULES.STYLES.RESPONSIVE_DESIGN.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Bootstrap</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.STYLES.RESPONSIVE_DESIGN.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/bootstrap" rel="noopener" target="_blank">https://www.npmjs.com/package/bootstrap</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/twbs/bootstrap" rel="noopener" target="_blank">https://github.com/twbs/bootstrap</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/bootstrap" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/bootstrap</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <a href="https://getbootstrap.com/" rel="noopener" target="_blank">https://getbootstrap.com/</a>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <div class="container">
    <div class="row">
      <div class="col-sm" style="background: lightgray; border: solid 1px grey">
        One of three columns
      </div>
      <div class="col-sm" style="background: lightgray; border: solid 1px grey">
        One of three columns
      </div>
      <div class="col-sm" style="background: lightgray; border: solid 1px grey">
        One of three columns
      </div>
    </div>
  </div>
</app-card>

<app-previous-next></app-previous-next>
