<mat-card>

  <mat-card-header *ngIf="iconTitle || cardTitle || subtitle || rightHeaderTemplate">
    <mat-icon *ngIf="iconTitle" mat-card-avatar>{{ iconTitle }}</mat-icon>
    <mat-card-title *ngIf="cardTitle">{{ cardTitle | translate }}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{ subtitle | translate }}</mat-card-subtitle>
    <div class="spacer"></div>
    <div *ngIf="rightHeaderTemplate">
      <ng-container  *ngTemplateOutlet="rightHeaderTemplate"></ng-container>
    </div>
  </mat-card-header>

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

</mat-card>
