<app-content-header headerTitle="MODULES.PACKAGES.TOASTER.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">ngx-toastr</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.PACKAGES.TOASTER.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/ngx-toastr" rel="noopener" target="_blank">
          https://www.npmjs.com/package/ngx-toastr
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/scttcper/ngx-toastr" rel="noopener" target="_blank">
          https://github.com/scttcper/ngx-toastr
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/ngx-toastr" rel="noopener" target="_blank">
          https://snyk.io/advisor/npm-package/ngx-toastr
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <a href="https://blog.jscrambler.com/how-to-create-angular-toastr-notifications/" rel="noopener"
           target="_blank">
          https://blog.jscrambler.com/how-to-create-angular-toastr-notifications/
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>
    <button (click)="toastrService.info('This is a info message')" class="me-2" mat-raised-button>
      Info toaster
    </button>
    <button (click)="toastrService.success('This is a success message')" class="me-2" color="primary" mat-raised-button>
      Success toaster
    </button>
    <button (click)="toastrService.warning('This is a warning message')" class="me-2" color="accent" mat-raised-button>
      Warning toaster
    </button>
    <button (click)="toastrService.error('This is a error message')" color="warn" mat-raised-button>Error
      toaster
    </button>
  </p>
  <p>
    <a href="https://ngx-toastr.vercel.app/" rel="noopener" target="_blank">
      https://ngx-toastr.vercel.app/
    </a>
  </p>
</app-card>

<app-previous-next></app-previous-next>
