<app-content-header headerTitle="MODULES.PACKAGES.COOKIES.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">ngx-cookie-service</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.PACKAGES.COOKIES.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/ngx-cookie-service" rel="noopener" target="_blank">https://www.npmjs.com/package/ngx-cookie-service</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/stevermeister/ngx-cookie-service" rel="noopener" target="_blank">https://github.com/stevermeister/ngx-cookie-service</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/ngx-cookie-service" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/ngx-cookie-service</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <a href="https://itnext.io/angular-8-how-to-use-cookies-14ab3f2e93fc"
           rel="noopener" target="_blank">https://itnext.io/angular-8-how-to-use-cookies-14ab3f2e93fc</a>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <form>
    <mat-form-field class="me-2">
      <mat-label>{{ 'MODULES.PACKAGES.COOKIES.VALUE' | translate }}</mat-label>
      <input #input [value]="cookieValue" matInput>
    </mat-form-field>
    <button (click)="onRefresh(input.value)"
            mat-raised-button>{{ 'MODULES.PACKAGES.COOKIES.REFRESH' | translate }}</button>
  </form>
  <p>{{ 'MODULES.PACKAGES.COOKIES.REFRESH_TEXT' | translate }} : {{ cookieValue }}</p>
</app-card>

<app-previous-next></app-previous-next>
