<app-content-header headerTitle="MODULES.DEVOPS.CONTINUOUS_DELIVERY.TITLE"
                    iconTitle="all_inclusive"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">

  <p>{{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.INFO' | translate }}
    <a href="https://about.gitlab.com/pricing/" rel="noopener" target="_blank">
      https://about.gitlab.com/pricing/
    </a>
  </p>

  <p>{{ 'MODULES.DEVOPS.CONTINUOUS_DELIVERY.INTRO' | translate }}</p>

  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Artifactory</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.DEVOPS.CONTINUOUS_DELIVERY.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.WEBSITE' | translate }}</th>
      <td class="mat-cell">
        <a href="https://jfrog.com/artifactory/" rel="noopener" target="_blank">
          https://jfrog.com/artifactory/
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://jfrog.com/blog/gitlab-and-artifactory-on-your-mark-get-set-build/" rel="noopener"
               target="_blank">
              https://jfrog.com/blog/gitlab-and-artifactory-on-your-mark-get-set-build/
            </a>
          </li>
          <li>
            <a href="https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API"
               rel="noopener" target="_blank">
              https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API
            </a>
          </li>
          <li>
            <a href="https://medium.com/jfrogplatform/gitlab-ci-and-artifactory-on-your-mark-get-set-build-c438d593799d"
               rel="noopener" target="_blank">
              https://medium.com/jfrogplatform/gitlab-ci-and-artifactory-on-your-mark-get-set-build-c438d593799d
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>
    {{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.DEMONSTRATION' | translate }}
    <a href="https://gitlab.com/personal-group9/personal-project/-/pipelines" rel="noopener" target="_blank">
      https://gitlab.com/personal-group9/personal-project/-/pipelines
    </a>
  </p>
</app-card>

<app-previous-next></app-previous-next>
