<mat-vertical-stepper>
  <mat-step *ngFor="let setupStep of setupList" [label]="setupStep.title | translate">

    <p *ngIf="setupStep.description" [innerHTML]="setupStep.description | translate"></p>

    <div *ngIf="setupStep.markdownList">
      <mat-tab-group>
        <mat-tab *ngFor="let markdown of setupStep?.markdownList" [disabled]="setupStep.markdownList.length == 1"
                 [label]="markdown.title">

          <div class="copy-button">
            <button (click)="copyCode()" [cdkCopyToClipboard]="markdown.content" mat-icon-button>
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>

          <markdown [data]="'```' + markdown.syntax + '\n' + markdown.content + '\n```'"
                    ngPreserveWhitespaces></markdown>

        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-step>
</mat-vertical-stepper>
