<ng-container [ngSwitch]="shape">

  <button
    *ngSwitchDefault mat-button
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon class="me-2" *ngIf="prefixIcon">{{ prefixIcon }}</mat-icon>
    {{ label }}
    <mat-icon class="ms-2" *ngIf="suffixIcon">{{ suffixIcon }}</mat-icon>
  </button>

  <button
    *ngSwitchCase="'raised'" mat-raised-button
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon class="me-2" *ngIf="prefixIcon">{{ prefixIcon }}</mat-icon>
    {{ label }}
    <mat-icon class="ms-2" *ngIf="suffixIcon">{{ suffixIcon }}</mat-icon>
  </button>

  <button
    *ngSwitchCase="'stroked'" mat-stroked-button
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon class="me-2" *ngIf="prefixIcon">{{ prefixIcon }}</mat-icon>
    {{ label }}
    <mat-icon class="ms-2" *ngIf="suffixIcon">{{ suffixIcon }}</mat-icon>
  </button>

  <button
    *ngSwitchCase="'flat'" mat-flat-button
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon class="me-2" *ngIf="prefixIcon">{{ prefixIcon }}</mat-icon>
    {{ label }}
    <mat-icon class="ms-2" *ngIf="suffixIcon">{{ suffixIcon }}</mat-icon>
  </button>

  <button
    *ngSwitchCase="'icon'" mat-icon-button
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon>{{ icon }}</mat-icon>
  </button>

  <button
    *ngSwitchCase="'fab'" mat-fab
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon>{{ icon }}</mat-icon>
  </button>

  <button
    *ngSwitchCase="'mini-fab'" mat-mini-fab
    [disabled]="disabledBoolean"
    [matTooltip]="tooltip"
    [disableRipple]="disabledRippleBoolean"
    [color]="color"
    [type]="type"
    [routerLink]="routerLink"
    [style]="buttonStyle"
    [ngClass]="buttonClass">
    <mat-icon>{{ icon }}</mat-icon>
  </button>

</ng-container>


