<app-content-header headerTitle="MODULES.CORE.ERROR_HANDLER.TITLE" iconTitle="settings"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.CORE.ERROR_HANDLER.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.CORE.ERROR_HANDLER.LI1' | translate }}</li>
          <li>{{ 'MODULES.CORE.ERROR_HANDLER.LI2' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a
              href="https://angular.io/api/core/ErrorHandler"
              rel="noopener" target="_blank">
              https://angular.io/api/core/ErrorHandler
            </a>
          </li>
          <li>
            <a href="https://pkief.medium.com/global-error-handling-in-angular-ea395ce174b1" rel="noopener"
               target="_blank">
              https://pkief.medium.com/global-error-handling-in-angular-ea395ce174b1
            </a>
          </li>
          <li>
            <a
              href="https://rollbar.com/blog/error-handling-with-angular-8-tips-and-best-practices/"
              rel="noopener" target="_blank">
              https://rollbar.com/blog/error-handling-with-angular-8-tips-and-best-practices/
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>{{ 'MODULES.CORE.ERROR_HANDLER.DEMONSTRATION' | translate }}</p>
  <a href="https://stackblitz.com/edit/angular-global-error-handling" rel="noopener" target="_blank">
    https://stackblitz.com/edit/angular-global-error-handling
  </a>
</app-card>

<app-previous-next></app-previous-next>
