<!--suppress ALL -->
<app-content-header headerTitle="MODULES.ARCHITECTURES.FOLDERS_ORGANIZATION.TITLE"
                    iconTitle="architecture"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.ARCHITECTURES.FOLDERS_ORGANIZATION.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li><a href="https://medium.com/dev-jam/5-tips-best-practices-to-organize-your-angular-project-e900db08702e"
                 rel="noopener" target="_blank">https://medium.com/dev-jam/5-tips-best-practices-to-organize-your-angular-project-e900db08702e</a>
          </li>
          <li><a href="https://medium.com/@motcowley/angular-folder-structure-d1809be95542" rel="noopener"
                 target="_blank">https://medium.com/@motcowley/angular-folder-structure-d1809be95542</a></li>
          <li><a href="https://itnext.io/choosing-a-highly-scalable-folder-structure-in-angular-d987de65ec7"
                 rel="noopener" target="_blank">https://itnext.io/choosing-a-highly-scalable-folder-structure-in-angular-d987de65ec7</a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li style="width: 100%">
        <tr style="display: table; width: 100%">
          <th class="mat-header-cell" scope="col" style="width: 110px">
            <button disableRipple disabled mat-icon-button></button>
            <button *ngIf="node.file" disableRipple disabled mat-icon-button>
              <mat-icon>insert_drive_file</mat-icon>
            </button>
            <button *ngIf="!node.file" disableRipple disabled mat-icon-button>
              <mat-icon>folder_open</mat-icon>
            </button>
          </th>
          <th class="mat-header-cell" scope="col">{{ node.name }}</th>
          <td class="mat-cell">{{ node.description }}</td>
        </tr>
      </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <tr matRipple matTreeNodeToggle style="display: table; width: 100%; cursor: pointer">
          <td class="mat-cell" style="width: 110px">
            <button disableRipple mat-icon-button>
              <mat-icon>{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
            </button>
            <button disableRipple mat-icon-button>
              <mat-icon>{{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}</mat-icon>
            </button>
          </td>
          <th class="mat-header-cell" scope="col">{{ node.name }}</th>
          <td class="mat-cell">{{ node.description }}</td>
        </tr>

        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>

  </mat-tree>

</app-card>

<app-previous-next></app-previous-next>
