<!--suppress ALL -->
<app-content-header headerTitle="MODULES.STYLES.ICONS.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">mat-icon</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.STYLES.ICONS.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PREREQUISITES' | translate }}</th>
      <td class="mat-cell">
        <a routerLink="/tutorial/packages/angular-material">{{ 'MODULES.STYLES.ICONS.PREREQUISITES' | translate }}</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.STYLES.ICONS.LI1' | translate }}</li>
          <li>{{ 'MODULES.STYLES.ICONS.LI2' | translate }}</li>
          <li>{{ 'MODULES.STYLES.ICONS.LI3' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/material-design-icons" rel="noopener" target="_blank">https://www.npmjs.com/package/material-design-icons</a>
        <p class="warn-text align-items" style="margin: 0">
          <mat-icon class="icon-size-18 me-1">warning</mat-icon>
          {{ 'MODULES.STYLES.ICONS.ISSUE_NPM' | translate }}</p>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/google/material-design-icons" rel="noopener" target="_blank">
          https://github.com/google/material-design-icons
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://material.angular.io/components/icon/overview" rel="noopener" target="_blank">
              https://material.angular.io/components/icon/overview
            </a>
          </li>
          <li>
            <a href="https://material.io/resources/icons/?style=baseline" rel="noopener" target="_blank">
              https://material.io/resources/icons/?style=baseline
            </a>
          </li>
          <li>
            <a href="https://google.github.io/material-design-icons/" rel="noopener" target="_blank">
              https://google.github.io/material-design-icons/
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="MODULES.STYLES.ICONS.ISSUE" iconTitle="bug_report">
  <p>{{ 'MODULES.STYLES.ICONS.ISSUE_NPM' | translate }}
    {{ 'COMMON.LABELS.REFERENCES' | translate }} :
    <a href="https://github.com/google/material-design-icons/issues/1129" rel="noopener" target="_blank">https://github.com/google/material-design-icons/issues/1129</a>
  </p>
  <p>{{ 'MODULES.STYLES.ICONS.ISSUE_DESCRIPTION' | translate }}</p><br/>

  <h3><a href="/tutorial/styles/icons#npm-solution">{{ 'MODULES.STYLES.ICONS.NPM_SOLUTION' | translate }}</a></h3>
  <p>{{ 'MODULES.STYLES.ICONS.IF' | translate }}</p>
  <table aria-label="npm-solution">
    <thead>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.ADVANTAGE' | translate }}</th>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.DRAWBACK' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.ADVANTAGE1' | translate"></ul>
      </td>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.DRAWBACK1' | translate"></ul>
      </td>
    </tr>
    </tbody>
  </table>
  <br/><br/><br/>

  <h3><a href="/tutorial/styles/icons#unofficial-solution">{{ 'MODULES.STYLES.ICONS.UNOFFICIAL_SOLUTION' | translate }}</a></h3>
  <p>{{ 'MODULES.STYLES.ICONS.CHOOSE' | translate }}</p>
  <ul>
    <li>
      <a href="https://www.npmjs.com/package/material-icons" rel="noopener" target="_blank">https://www.npmjs.com/package/material-icons</a>
    </li>
    <li>
      <a href="https://github.com/marella/material-icons" rel="noopener" target="_blank">https://github.com/marella/material-icons</a>
    </li>
    <li>
      <a href="https://snyk.io/advisor/npm-package/material-icons" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/material-icons</a>
    </li>
  </ul>
  <table aria-label="web-solution">
    <thead>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.ADVANTAGE' | translate }}</th>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.DRAWBACK' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.ADVANTAGE4' | translate"></ul>
      </td>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.DRAWBACK4' | translate"></ul>
      </td>
    </tr>
    </tbody>
  </table>
  <br/><br/><br/>

  <h3><a href="/tutorial/styles/icons#web-solution">{{ 'MODULES.STYLES.ICONS.WEB_SOLUTION' | translate }}</a></h3>
  <table aria-label="web-solution">
    <thead>
    <tr>
      <th class="mat-header-cell" scope="col"
          style="max-width: 50%">{{ 'MODULES.STYLES.ICONS.ADVANTAGE' | translate }}</th>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.DRAWBACK' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.ADVANTAGE2' | translate"></ul>
      </td>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.DRAWBACK2' | translate"></ul>
      </td>
    </tr>
    </tbody>
  </table>
  <br/><br/><br/>

  <h3><a href="/tutorial/styles/icons#local-solution">{{ 'MODULES.STYLES.ICONS.LOCAL_SOLUTION' | translate }}</a></h3>
  <table aria-label="web-solution">
    <thead>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.ADVANTAGE' | translate }}</th>
      <th class="mat-header-cell" scope="col" style="width: 50%">{{ 'MODULES.STYLES.ICONS.DRAWBACK' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.ADVANTAGE3' | translate"></ul>
      </td>
      <td class="mat-cell">
        <ul [innerHTML]="'MODULES.STYLES.ICONS.DRAWBACK3' | translate"></ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="MODULES.STYLES.ICONS.NPM_SOLUTION" iconTitle="electrical_services" id="npm-solution">
  <app-setup [setupList]="npmStepList"></app-setup>
</app-card>

<app-card cardTitle="MODULES.STYLES.ICONS.UNOFFICIAL_SOLUTION" iconTitle="electrical_services" id="unofficial-solution">
  <app-setup [setupList]="npmUnofficalStepList"></app-setup>
</app-card>

<app-card cardTitle="MODULES.STYLES.ICONS.WEB_SOLUTION" iconTitle="electrical_services" id="web-solution">
  <app-setup [setupList]="webStepList"></app-setup>
</app-card>

<app-card cardTitle="MODULES.STYLES.ICONS.LOCAL_SOLUTION" iconTitle="electrical_services" id="local-solution">
  <app-setup [setupList]="localStepList"></app-setup>
</app-card>

<app-card cardTitle="MODULES.STYLES.ICONS.EXTERN_ICON" iconTitle="electrical_services">
  <app-setup [setupList]="svgStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p class="align-items">Google icons :
    <mat-icon>home</mat-icon>
    <mat-icon class="material-icons-outlined">home</mat-icon>
    <mat-icon class="material-icons-two-tone">home</mat-icon>
    <mat-icon class="material-icons-sharp">home</mat-icon>
    <mat-icon class="material-icons-round">home</mat-icon>
  </p>
  <p class="align-items">SVG extern icons :
    <mat-icon svgIcon="english-flag"></mat-icon>
  </p>
</app-card>

<app-previous-next></app-previous-next>
