.mat-expansion-panel {
  box-shadow: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.mat-expansion-panel-header {
  font-size: 14px !important;
  height: 48px !important;
}
