<mat-expansion-panel [expanded]="router.isActive(this.item.route, false)" [hideToggle]="!item.children"
                     [disabled]="item.disabled" class="no-padding">

  <mat-expansion-panel-header
    (click)="!(item.children || item.disabled || sidenavService.fixedMenu) ? sidenavService.close() : null"
    [class]="router.isActive(this.item.route, false) ? 'active-item' : null"
    [routerLink]="item.children || item.disabled ? null : item.route"
    [style.padding-left.px]="depth*itemPaddingLeftPx"
    cdkFocusInitial matRipple>
    <mat-panel-title class="align-items" style="color: inherit">
      <mat-icon class="me-2" mat-list-icon>{{ item.icon }}</mat-icon>
      {{ item.title | translate }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-sidenav-item *ngFor="let child of item.children" [depth]="depth+1" [item]="child"></app-sidenav-item>

</mat-expansion-panel>

<mat-divider *ngIf="depth==1"></mat-divider>
