<mat-form-field [appearance]="appearance" [floatLabel]="floatLabelType">

  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    #textInput
    type="text"
    [(ngModel)]="model"
    [required]="requiredBoolean"
    [disabled]="disabledBoolean"
    [placeholder]="placeholder"
    [minLength]="minLength"
    [maxlength]="maxLength">

  <mat-icon *ngIf="prefixIcon" matPrefix class="me-1">{{ prefixIcon }}</mat-icon>
  <mat-icon *ngIf="suffixIcon" matSuffix class="ms-1">{{ suffixIcon }}</mat-icon>

  <button *ngIf="model && clearButtonBoolean" matSuffix mat-icon-button aria-label="Clear" (click)="model=''">
    <mat-icon>close</mat-icon>
  </button>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

</mat-form-field>
