<app-content-header headerTitle="MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.TITLE"
                    iconTitle="all_inclusive"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">

  <p>{{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.INFO' | translate }}
    <a href="https://about.gitlab.com/pricing/" rel="noopener" target="_blank">
      https://about.gitlab.com/pricing/
    </a>
  </p>

  <p>{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.DESCRIPTION' | translate }}</p>

  <h2 class="mt-5">{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.HEROKU_TITLE' | translate }}</h2>

  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Heroku</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.WEBSITE' | translate }}</th>
      <td class="mat-cell">
        <a href="https://www.heroku.com/" rel="noopener" target="_blank">
          https://www.heroku.com/
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.HEROKU_DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DEPENDENCY_NAME' | translate }}</th>
      <td class="mat-cell">express</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/express" rel="noopener" target="_blank">
          https://www.npmjs.com/package/express
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/expressjs/express" rel="noopener" target="_blank">
          https://github.com/expressjs/express
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/express" rel="noopener" target="_blank">
          https://snyk.io/advisor/npm-package/express
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://www.heroku.com/continuous-integration" rel="noopener" target="_blank">
              https://www.heroku.com/continuous-integration
            </a>
          </li>
          <li>
            <a href="https://itnext.io/how-to-deploy-angular-application-to-heroku-1d56e09c5147"
               rel="noopener" target="_blank">
              https://itnext.io/how-to-deploy-angular-application-to-heroku-1d56e09c5147
            </a>
          </li>
          <li>
            <a href="https://medium.com/@oliver.kocsis/deploy-app-to-heroku-from-gitlab-209983635f3" rel="noopener"
               target="_blank">
              https://medium.com/@oliver.kocsis/deploy-app-to-heroku-from-gitlab-209983635f3
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 class="mt-5">{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.FIREBASE_TITLE' | translate }}</h2>

  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Firebase</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.WEBSITE' | translate }}</th>
      <td class="mat-cell">
        <a href="https://firebase.google.com/?hl=FR" rel="noopener" target="_blank">
          https://firebase.google.com/?hl=FR
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.FIREBASE_DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DEPENDENCY_NAME' | translate }}</th>
      <td class="mat-cell">firebase-tools</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/firebase-tools" rel="noopener" target="_blank">
          https://www.npmjs.com/package/firebase-tools
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/firebase/firebase-tools" rel="noopener" target="_blank">
          https://github.com/firebase/firebase-tools
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/firebase-tools" rel="noopener" target="_blank">
          https://snyk.io/advisor/npm-package/firebase-tools
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://firebase.google.com/docs/hosting" rel="noopener" target="_blank">
              https://firebase.google.com/docs/hosting
            </a>
          </li>
          <li>
            <a href="https://alligator.io/angular/deploying-angular-app-to-firebase/"
               rel="noopener" target="_blank">
              https://alligator.io/angular/deploying-angular-app-to-firebase/
            </a>
          </li>
          <li>
            <a href="https://medium.com/ramsatt/gitlab-ci-cd-with-angular-7-firebase-779bf040bb82" rel="noopener"
               target="_blank">
              https://medium.com/ramsatt/gitlab-ci-cd-with-angular-7-firebase-779bf040bb82
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">

  <h2 class="mt-5">{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.HEROKU_TITLE' | translate }}</h2>

  <app-setup [setupList]="setupHerokuList"></app-setup>

  <mat-divider></mat-divider>

  <h2 class="mt-5">{{ 'MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.FIREBASE_TITLE' | translate }}</h2>

  <app-setup [setupList]="setupFirebaseList"></app-setup>

  <mat-divider></mat-divider>

  <h2 class="mt-5">{{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.GIT' | translate }}</h2>

  <app-setup [setupList]="setupGitLabList"></app-setup>

</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>
    {{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.DEMONSTRATION' | translate }}
    <a href="https://gitlab.com/personal-group9/personal-project/-/pipelines" rel="noopener" target="_blank">
      https://gitlab.com/personal-group9/personal-project/-/pipelines
    </a>
  </p>
</app-card>

<app-previous-next></app-previous-next>
