<mat-sidenav-container id="under-navbar">

  <mat-sidenav #sidenav [mode]="sidenavService.fixedMenu ? 'side' : 'over'" [style.width.px]="widthPxMenu">
    <perfect-scrollbar>
      <div class="d-flex justify-content-end">
        <mat-radio-button (click)="sidenavService.fixedMenu = !sidenavService.fixedMenu"
                          [checked]="sidenavService.fixedMenu" class="d-none d-sm-block" id="radio-button">
        </mat-radio-button>
      </div>
      <mat-nav-list>
        <mat-accordion [multi]="multiExpansionPanel">
          <app-sidenav-item *ngFor="let item of menu" [depth]="1" [item]="item"></app-sidenav-item>
        </mat-accordion>
      </mat-nav-list>
    </perfect-scrollbar>
  </mat-sidenav>

  <mat-sidenav-content style="overflow-x: hidden;overflow-y: auto;">
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
