<div class="color-block primary-background-color"></div>
<div class="color-block d-block d-sm-none primary-background-color" style="height: 400px;"></div>

<div class="row mb-5">
  <div class="col-12 my-5 py-5">
    <h1 class="mb-4 inverse-text-color">{{ 'MODULES.COMMON.HOME.WELCOME' | translate }}</h1>
    <h3 class="inverse-text-color text-center">{{ 'MODULES.COMMON.HOME.INTRODUCTION' | translate }}</h3>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 d-flex justify-content-around">
        <a color="primary" href="https://angular.io/" mat-mini-fab matTooltip="Angular" rel="noopener" target="_blank">
          <mat-icon svgIcon="angular"></mat-icon>
        </a>
        <a color="primary" href="https://gitlab.com/personal-group9/personal-project" mat-mini-fab matTooltip="GitLab"
           rel="noopener" target="_blank">
          <mat-icon svgIcon="gitlab"></mat-icon>
        </a>
        <a color="primary" href="https://sonarcloud.io/dashboard?id=personal-group9_personal-project" mat-mini-fab
           matTooltip="SonarCloud" rel="noopener" target="_blank">
          <mat-icon svgIcon="sonarcloud"></mat-icon>
        </a>
        <a color="primary" href="https://jfrog.com/" mat-mini-fab matTooltip="jFrog" rel="noopener" target="_blank">
          <mat-icon svgIcon="jfrog"></mat-icon>
        </a>
        <a color="primary" href="https://firebase.google.com/" mat-mini-fab matTooltip="Firebase" rel="noopener"
           target="_blank">
          <mat-icon svgIcon="firebase"></mat-icon>
        </a>
        <a color="primary" href="https://www.heroku.com/" mat-mini-fab matTooltip="Heroku" rel="noopener"
           target="_blank">
          <mat-icon svgIcon="heroku"></mat-icon>
        </a>
        <a color="primary" href="https://getbootstrap.com/" mat-mini-fab matTooltip="Bootstrap" rel="noopener"
           target="_blank">
          <mat-icon svgIcon="bootstrap"></mat-icon>
        </a>
        <a color="primary" href="https://material.angular.io/" mat-mini-fab matTooltip="Material Angular" rel="noopener"
           target="_blank">
          <mat-icon svgIcon="angular-material"></mat-icon>
        </a>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</div>

<app-content-header headerTitle="MODULES.ARCHITECTURES.TITLE" iconTitle="architecture"></app-content-header>

<div class="row">
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.ARCHITECTURES.SOFTWARE_ARCHITECTURE.DESCRIPTION"
                   cardTitle="MODULES.ARCHITECTURES.SOFTWARE_ARCHITECTURE.TITLE"
                   link="/tutorial/architectures/software-architecture"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.ARCHITECTURES.FOLDERS_ORGANIZATION.DESCRIPTION"
                   cardTitle="MODULES.ARCHITECTURES.FOLDERS_ORGANIZATION.TITLE"
                   link="/tutorial/architectures/folders-organization"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.ARCHITECTURES.PIPELINE_DIAGRAM.DESCRIPTION"
                   cardTitle="MODULES.ARCHITECTURES.PIPELINE_DIAGRAM.TITLE"
                   link="/tutorial/architectures/pipeline-diagram"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.CODE_ANALYSIS.TITLE" iconTitle="graphic_eq"></app-content-header>

<div class="row">
  <div class="col-md-6">
    <app-home-card cardContent="MODULES.CODE_ANALYSIS.CODE_QUALITY.DESCRIPTION"
                   cardTitle="MODULES.CODE_ANALYSIS.CODE_QUALITY.TITLE"
                   link="/tutorial/code-analysis/code-quality"></app-home-card>
  </div>
  <div class="col-md-6">
    <app-home-card cardContent="MODULES.CODE_ANALYSIS.CODE_SECURITY.DESCRIPTION"
                   cardTitle="MODULES.CODE_ANALYSIS.CODE_SECURITY.TITLE"
                   disabled="disabled" link="/tutorial/code-analysis/code-security"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.TESTING.TITLE" iconTitle="verified"></app-content-header>

<div class="row">
  <div class="col-md-6">
    <app-home-card cardContent="MODULES.TESTING.UNIT_TESTING.DESCRIPTION"
                   cardTitle="MODULES.TESTING.UNIT_TESTING.TITLE"
                   link="/tutorial/testing/unit-testing"></app-home-card>
  </div>
  <div class="col-md-6">
    <app-home-card cardContent="MODULES.TESTING.END_TO_END_TESTING.DESCRIPTION"
                   cardTitle="MODULES.TESTING.END_TO_END_TESTING.TITLE"
                   link="/tutorial/testing/end-to-end-testing"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.DEVOPS.TITLE" iconTitle="all_inclusive"></app-content-header>

<div class="row">
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.DEVOPS.CONTINUOUS_INTEGRATION.DESCRIPTION"
                   cardTitle="MODULES.DEVOPS.CONTINUOUS_INTEGRATION.TITLE"
                   link="/tutorial/devops/continuous-integration"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.DEVOPS.CONTINUOUS_DELIVERY.DESCRIPTION"
                   cardTitle="MODULES.DEVOPS.CONTINUOUS_DELIVERY.TITLE"
                   link="/tutorial/devops/continuous-delivery"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.DESCRIPTION"
                   cardTitle="MODULES.DEVOPS.CONTINUOUS_DEPLOYMENT.TITLE"
                   link="/tutorial/devops/continuous-deployment"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.STYLES.TITLE" iconTitle="format_paint"></app-content-header>

<div class="row">
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.STYLES.RESPONSIVE_DESIGN.DESCRIPTION"
                   cardTitle="MODULES.STYLES.RESPONSIVE_DESIGN.TITLE"
                   link="/tutorial/styles/responsive-design"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.STYLES.THEMES.DESCRIPTION" cardTitle="MODULES.STYLES.THEMES.TITLE"
                   link="/tutorial/styles/themes"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.STYLES.ICONS.DESCRIPTION" cardTitle="MODULES.STYLES.ICONS.TITLE"
                   link="/tutorial/styles/icons"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.LAYOUT.TITLE" iconTitle="view_compact"></app-content-header>

<div class="row">
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.LAYOUT.NAVBAR.DESCRIPTION" cardTitle="MODULES.LAYOUT.NAVBAR.TITLE"
                   link="/tutorial/layout/navbar"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.LAYOUT.SIDENAV.DESCRIPTION" cardTitle="MODULES.LAYOUT.SIDENAV.TITLE"
                   link="/tutorial/layout/sidenav"></app-home-card>
  </div>
  <div class="col-md-4">
    <app-home-card cardContent="MODULES.LAYOUT.FOOTER.DESCRIPTION" cardTitle="MODULES.LAYOUT.FOOTER.TITLE"
                   link="/tutorial/layout/footer"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.CORE.TITLE" iconTitle="settings"></app-content-header>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.CORE.INTERNATIONALIZATION.DESCRIPTION"
                   cardTitle="MODULES.CORE.INTERNATIONALIZATION.TITLE"
                   link="/tutorial/core/internationalization"></app-home-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.CORE.AUTHENTICATION.DESCRIPTION" cardTitle="MODULES.CORE.AUTHENTICATION.TITLE"
                   link="/tutorial/core/authentication"></app-home-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.CORE.ERROR_HANDLER.DESCRIPTION" cardTitle="MODULES.CORE.ERROR_HANDLER.TITLE"
                   link="/tutorial/core/error-handler"></app-home-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.CORE.DATABASE.DESCRIPTION" cardTitle="MODULES.CORE.DATABASE.TITLE"
                   disabled="true" link="/tutorial/core/database"></app-home-card>
  </div>
</div>

<mat-divider class="my-4"></mat-divider>

<app-content-header headerTitle="MODULES.PACKAGES.TITLE" iconTitle="category"></app-content-header>

<div class="row mb-4">
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.PACKAGES.ANGULAR_MATERIAL.DESCRIPTION"
                   cardTitle="MODULES.PACKAGES.ANGULAR_MATERIAL.TITLE"
                   link="/tutorial/packages/angular-material"></app-home-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.PACKAGES.SCROLLBAR.DESCRIPTION" cardTitle="MODULES.PACKAGES.SCROLLBAR.TITLE"
                   link="/tutorial/packages/scrollbar"></app-home-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.PACKAGES.TOASTER.DESCRIPTION" cardTitle="MODULES.PACKAGES.TOASTER.TITLE"
                   link="/tutorial/packages/toaster"></app-home-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-home-card cardContent="MODULES.PACKAGES.COOKIES.DESCRIPTION" cardTitle="MODULES.PACKAGES.COOKIES.TITLE"
                   link="/tutorial/packages/cookies"></app-home-card>
  </div>
</div>
