<div class="my-4">
  <div class="d-flex justify-content-between align-items">

    <div class="align-items">

      <app-form-button buttonClass="me-3" buttonStyle="color: inherit" *ngIf="!backButtonBoolean" disabled shape="icon" [icon]="iconTitle"></app-form-button>
      <app-form-button buttonClass="me-3" buttonStyle="color: inherit" *ngIf="backButtonBoolean" tooltip="Retour" shape="icon" icon="arrow_back" routerLink=".."></app-form-button>
      <h1 class="m-0">{{ headerTitle | translate }}</h1>

    </div>

    <div *ngIf="rightHeaderTemplate">
      <ng-container *ngTemplateOutlet="rightHeaderTemplate"></ng-container>
    </div>

  </div>

  <div *ngIf="subtitle" style="margin-left: 56px">
    <p class="flat-text-color" style="font-size: small; display: flex; flex-direction: column">{{ subtitle | translate }}</p>
  </div>

</div>
