<app-content-header headerTitle="MODULES.STYLES.THEMES.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.STYLES.THEMES.NAME' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.STYLES.THEMES.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PREREQUISITES' | translate }}</th>
      <td class="mat-cell"><a
        routerLink="/tutorial/packages/angular-material">{{ 'MODULES.STYLES.THEMES.PREREQUISITES' | translate }}</a></td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.STYLES.THEMES.LI1' | translate }}</li>
          <li>{{ 'MODULES.STYLES.THEMES.LI2' | translate }}</li>
          <li>{{ 'MODULES.STYLES.THEMES.LI3' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://material.angular.io/guide/theming" rel="noopener" target="_blank">
              https://material.angular.io/guide/theming
            </a>
          </li>
          <li>
            <a href="https://pkief.medium.com/automatic-dark-mode-detection-in-angular-material-8342917885a0"
               rel="noopener" target="_blank">
              https://pkief.medium.com/automatic-dark-mode-detection-in-angular-material-8342917885a0
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <button [matMenuTriggerFor]="themesMenu" mat-raised-button style="height: 48px">
    <mat-icon class="me-2">format_color_fill</mat-icon>
    {{ 'MODULES.STYLES.THEMES.TITLE' | translate }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #themesMenu="matMenu">
    <button (click)="changeTheme(theme)" *ngFor="let theme of themes"
            [class]="themeService.selectedTheme.getValue() === theme ? 'active-item' : null"
            mat-menu-item>{{ theme.name | translate }}</button>
  </mat-menu>
</app-card>

<app-previous-next></app-previous-next>
