<app-content-header headerTitle="MODULES.LAYOUT.NAVBAR.TITLE" iconTitle="view_compact"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.LAYOUT.NAVBAR.NAME' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.LAYOUT.NAVBAR.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PREREQUISITES' | translate }}</th>
      <td class="mat-cell">
        <a routerLink="/tutorial/packages/angular-material">{{ 'MODULES.STYLES.ICONS.PREREQUISITES' | translate }}</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.LAYOUT.NAVBAR.LI1' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.NAVBAR.LI2' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.NAVBAR.LI3' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <a href="https://material.angular.io/components/toolbar/overview" rel="noopener" target="_blank">
          https://material.angular.io/components/toolbar/overview
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>
    <mat-toolbar color="primary">
      <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="spacer"></span>
      <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</app-card>

<app-previous-next></app-previous-next>
