/* You can add specific CSS on HTML tag or class here */
@import "variables";

html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.toast-top-right {
  top: var(--toaster-top-right) !important;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

td, th {
  padding: 15px 0 15px 20px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  vertical-align: baseline;

  ul {
    margin: 0;
    padding-inline-start: 20px;
  }
}

pre {
  padding-right: 50px !important;
}
