/* You can add specific CSS on Material component tag or class here */
@import "variables";

/* Rules for sizing the icon. */

mat-card {
  margin-bottom: var(--space-between-components);
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-header-cell {
  font-size: inherit;
}

.no-padding div .mat-expansion-panel-body {
  padding: 0 !important;
}
