@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@include mat.core();

// Custom elements
@mixin custom-components-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warning: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .active-item {
    color: mat.get-color-from-palette($accent, 400) !important;
    background: rgba(mat.get-color-from-palette($primary), .12) !important;
  }

  .disabled {
    color: rgba(mat.get-color-from-palette($foreground, text), .3) !important;
  }

  .disabled:hover {
    cursor: default;
  }

  a {
    word-break: break-word;
    color: mat.get-color-from-palette($accent, 400) !important;
  }

  .warn-text {
    color: mat.get-color-from-palette($warning) !important;
  }

  .accent-text {
    color: mat.get-color-from-palette($accent, 400) !important;
  }

  tr:hover, .hover-item:hover {
    background: rgba(mat.get-color-from-palette($foreground, text), .04);
  }

  .flat-text-color {
    color: rgba(mat.get-color-from-palette($foreground, text), .54);
  }

  .inverse-text-color {
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .primary-background-color {
    background: mat.get-color-from-palette($primary);
  }
}

// Classic theme
$classic-primary: mat.define-palette(mat.$indigo-palette);
$classic-accent: mat.define-palette(mat.$indigo-palette, 900);
$classic-warn: mat.define-palette(mat.$pink-palette, 600);
$classic-theme: mat.define-light-theme($classic-primary, $classic-accent, $classic-warn);
.classic-theme {
  @include mat.all-component-themes($classic-theme);
  @include custom-components-theme($classic-theme);
}

// Light theme
$light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$light-accent: mat.define-palette(mat.$brown-palette, 200);
$light-warn: mat.define-palette(mat.$deep-orange-palette, 200);
$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
.light-theme {
  @include mat.all-component-themes($light-theme);
  @include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$dark-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$dark-warn: mat.define-palette(mat.$red-palette, 500);
$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include custom-components-theme($dark-theme);
}
