/* All CSS toaster to change icons and color */

.toast-warning {
  background-image: url('~assets/icons/warning-white.svg');
}

.toast-error {
  background-image: url('~assets/icons/error-white.svg');
}

.toast-info {
  background-image: url('~assets/icons/info-white.svg');
}

.toast-success {
  background-image: url('~assets/icons/done-white.svg');
}
