/* You can put useful class here */

.spacer {
  flex-grow: 1;
}

.align-items {
  display: flex !important;
  align-items: center !important;
}

.text-center {
  text-align: center;
}

.icon-size-18 {
  font-size: 18px;
  height: 18px !important;
  width: 18px !important
}

.icon-size-24 {
  font-size: 24px;
  height: 24px !important;
  width: 24px !important
}

.icon-size-36 {
  font-size: 36px;
  height: 36px !important;
  width: 36px !important
}

.icon-size-48 {
  font-size: 48px;
  height: 48px !important;
  width: 48px !important
}
