/* Global css variables */

:root {
  // Modify those values in core/services/scrollbar.service.ts
  --navbar-height: 56px;
  --footer-height: 56px;
  --space-between-components: 24px;

  // Increase this value if you modify --navbar-height
  --toaster-top-right: 71px;
}
