<div id="fix-scratch">
  <img alt="scratch" class="d-none d-sm-block" src="assets/images/not-found.png" style="width: 65%">
  <img alt="scratch" class="d-block d-sm-none" src="assets/images/not-found.png" style="width: 35%">
</div>

<div [style.height.px]="scrollbarService.contentHeight" class="row">

  <div class="col-md-6"></div>

  <div class="col-md-6 m-auto" style="z-index: 0">
    <h1>{{ 'MODULES.COMMON.NOT_FOUND.TITLE' | translate }}</h1>
    <p>{{ 'MODULES.COMMON.NOT_FOUND.EXPLAIN' | translate }}</p>
    <br/>
    <p>
      <button (click)="location.back()" mat-raised-button routerLink="/home">
        <mat-icon>navigate_before</mat-icon>
        {{ 'MODULES.COMMON.NOT_FOUND.BACK' | translate }}
      </button>
      <button class="ms-3" color="primary" mat-raised-button routerLink="/home">
        {{ 'MODULES.COMMON.NOT_FOUND.HOME' | translate }}
      </button>
    </p>
  </div>

</div>

