<app-content-header headerTitle="MODULES.PACKAGES.ANGULAR_MATERIAL.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.PACKAGES.ANGULAR_MATERIAL.TITLE' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.PACKAGES.ANGULAR_MATERIAL.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.WEBSITE' | translate }}</th>
      <td class="mat-cell">
        <a href="https://material.angular.io/" rel="noopener" target="_blank">
          https://material.angular.io/
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.PACKAGES.ANGULAR_MATERIAL.LI1' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/@angular/material" rel="noopener" target="_blank">https://www.npmjs.com/package/@angular/material</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/angular/components" rel="noopener" target="_blank">https://github.com/angular/components</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/@angular/material" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/@angular/material</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://material.angular.io/guides" rel="noopener"
               target="_blank">https://material.angular.io/guides</a>
          </li>
          <li>
            <a href="https://medium.com/@armno/creating-a-custom-material-module-in-angular-ee6a5e925d30" rel="noopener"
               target="_blank">https://medium.com/@armno/creating-a-custom-material-module-in-angular-ee6a5e925d30</a>
          </li>
          <li>
            <a href="https://medium.com/dev-jam/5-tips-best-practices-to-organize-your-angular-project-e900db08702e"
               rel="noopener" target="_blank">https://medium.com/dev-jam/5-tips-best-practices-to-organize-your-angular-project-e900db08702e</a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>{{ 'MODULES.PACKAGES.ANGULAR_MATERIAL.THEME' | translate }}<a
    routerLink="/tutorial/styles/themes">{{ 'MODULES.STYLES.THEMES.TITLE' | translate }}</a></p>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Like</button>
      <button color="accent" mat-raised-button>Share</button>
    </mat-card-actions>
  </mat-card>
</app-card>

<app-previous-next></app-previous-next>
