<app-content-header headerTitle="MODULES.CORE.AUTHENTICATION.TITLE" iconTitle="settings"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Firebase authentication</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.CORE.AUTHENTICATION.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.WEBSITE' | translate }}</th>
      <td class="mat-cell">
        <a href="https://firebase.google.com/" rel="noopener" target="_blank">
          https://firebase.google.com/
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.CORE.AUTHENTICATION.LI1' | translate }}</li>
          <li>{{ 'MODULES.CORE.AUTHENTICATION.LI2' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/firebase" rel="noopener" target="_blank">https://www.npmjs.com/package/firebase</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/firebase/firebase-js-sdk" rel="noopener" target="_blank">https://github.com/firebase/firebase-js-sdk</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/firebase" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/firebase</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://firebase.google.com/docs/auth" rel="noopener"
               target="_blank">
              https://firebase.google.com/docs/auth
            </a>
          </li>
          <li>
            <a
              href="https://www.positronx.io/full-angular-7-firebase-authentication-system/"
              rel="noopener" target="_blank">
              https://www.positronx.io/full-angular-7-firebase-authentication-system/
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>{{ 'MODULES.LAYOUT.FOOTER.DEMONSTRATION' | translate }}</p>
  <ul>
    <li>{{ 'MODULES.COMMON.LOGIN.EMAIL' | translate }}: login@personal-project.com</li>
    <li>{{ 'MODULES.COMMON.LOGIN.PASSWORD' | translate }}: personal-project</li>
  </ul>
  <button class="d-none d-sm-block max-height" mat-raised-button routerLink="/login">
    {{ 'MODULES.COMMON.LOGIN.TITLE' | translate }}
  </button>
</app-card>

<app-previous-next></app-previous-next>
