<app-navbar id="navbar"></app-navbar>

<app-sidenav>
  <div [style.height.px]="scrollbarService.pageHeightWithoutNavbar">
    <div [style.minHeight.px]="scrollbarService.pageHeightWithoutNavbar" id="page-content">

      <div class="container">
        <router-outlet></router-outlet>
      </div>

      <app-footer id="footer"></app-footer>

    </div>
  </div>
</app-sidenav>
