#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#page-content {
  position: relative;
  padding-bottom: var(--navbar-height);
}

.container {
  padding: var(--space-between-components);
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
