<app-content-header headerTitle="MODULES.PACKAGES.SCROLLBAR.TITLE" iconTitle="category"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">ngx-perfect-scrollbar</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.PACKAGES.SCROLLBAR.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/ngx-perfect-scrollbar" rel="noopener" target="_blank">https://www.npmjs.com/package/ngx-perfect-scrollbar</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/zefoy/ngx-perfect-scrollbar" rel="noopener" target="_blank">https://github.com/zefoy/ngx-perfect-scrollbar</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/ngx-perfect-scrollbar" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/ngx-perfect-scrollbar</a>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <perfect-scrollbar>
    <div style="height: 300px">
      Lorem ipsum dolor sit amet, qui minim aliquid detracto ea, ex invenire indoctum per. In decore legere pro. Ius an
      omnis rebum, te legere audiam vidisse qui, sea tantas admodum mandamus cu. Ea vix augue verterem, nec at fabellas
      intellegat. His graeci facilisi te, an officiis evertitur mei, probo qualisque iudicabit ne cum. Duo ubique
      singulis gubergren ea, an qui ornatus temporibus, an tation facete adolescens vix. No idque verear oblique eam, id
      qui sumo erat fuisset.
      <br/><br/>
      Usu eu oratio debitis pericula. Id eam illud iriure vivendum. Sed discere inermis te, quem assentior ea mel. Ei
      vel verear adversarium, commodo delenit nusquam te est, saperet qualisque ad sea. Stet iisque no eam. Ea vix dico
      vidit inciderint, has an homero consetetur dissentiunt, sit impedit officiis ullamcorper an.
      <br/><br/>
      Ex mel delectus mnesarchum concludaturque. Utinam omittantur ad per, ei tale vidisse eos. Ius falli cetero
      cotidieque te, eum ex semper aeterno intellegat, nam eu purto facer atomorum. Ne nominati perpetua ius, dolore
      omnium blandit nam ad, mel quando oporteat maiestatis ea. Nam no eruditi feugait quaerendum, et doctus platonem
      tincidunt nam. Et purto viris vel, mea ferri detracto splendide cu.
      <br/><br/>
      Ne tamquam deserunt accusamus mea, nominati accusamus eu eam. Sit quot iisque dissentiunt at. Sea cu possim
      fastidii, ut mei euismod veritus, ei pri oporteat reprimique interesset. Prima equidem mel eu.
      <br/><br/>
      Debet lucilius id pri. Ius ad consul voluptatum deterruisset, te aeque contentiones sit. Ut iuvaret percipit
      adversarium usu, vide eius inermis vix an. At sea habeo commune, mei at ferri placerat invenire, quo ei novum
      pertinacia intellegebat. Ad sea possit scaevola recusabo, ad nec affert intellegat.
      <br/><br/>
      No sit erant iisque gubergren. Vis ei aperiri recusabo, ex his laudem tincidunt. Gloriatur reprimique accommodare
      mel ea. No assum tantas epicuri quo, et dicat bonorum apeirian sea, cu mea velit saepe. Accusamus scriptorem
      omittantur te usu, in libris possim sed. Modo verterem id cum, cu sed ubique recteque, affert legere suscipiantur
      in est. Eos tota atqui sensibus no, nam ea nullam appareat intellegebat.
      <br/><br/>
      Et vim justo regione tibique, his erant facete ornatus et. No etiam senserit abhorreant duo, liber minimum
      explicari ne mea. Id noster ullamcorper quo. Facer malorum voluptaria sea et.
      <br/><br/>
      Reque docendi vituperata sea at, aeque altera lucilius eam eu, hinc cibo antiopam vix cu. Sensibus sententiae quo
      ad, ipsum velit regione in mei. In quo atqui etiam abhorreant. Ludus oblique feugait ea vim. Rebum accommodare vis
      ei. Ipsum omnium concludaturque an quo, iusto volumus apeirian an qui.
      <br/><br/>
      Nam ne inani liber principes, eos dicam aliquid ea. Periculis deterruisset quo id. Cu tollit oblique argumentum
      sed, ad duo semper volumus, no mea nostrum suavitate. Ex est omnium minimum, id errem ornatus facilisi ius. No
      veritus senserit interpretaris has, eros quaerendum ius ut, tota commune assentior eum ut.
      <br/><br/>
      Minim referrentur eu cum. Scaevola oportere et est. Fuisset invenire ea vim, pri augue libris conclusionemque ex.
      Nusquam referrentur pri no, zril veniam dolorem pro an, ea laboramus dissentiet vim.
    </div>
  </perfect-scrollbar>
</app-card>

<app-previous-next></app-previous-next>
