<app-content-header *ngIf="newInput"
                    backButton
                    [headerTitle]="'Nouvelle ' + resourceName"
                    [rightHeaderTemplate]="rightHeaderTemplate"></app-content-header>

<app-content-header *ngIf="!newInput"
                    backButton
                    [headerTitle]="resourceName + ' n°' + 5 | titlecase"
                    [subtitle]="subtitle"
                    [rightHeaderTemplate]="rightHeaderTemplate"></app-content-header>

