<app-content-header headerTitle="MODULES.TESTING.END_TO_END_TESTING.TITLE" iconTitle="verified"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Protractor</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.TESTING.END_TO_END_TESTING.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PREREQUISITES' | translate }}</th>
      <td class="mat-cell"><a routerLink="/tutorial/testing/unit-testing">Jasmine</a></td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/protractor" rel="noopener" target="_blank">https://www.npmjs.com/package/protractor</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/angular/protractor" rel="noopener" target="_blank">https://github.com/angular/protractor</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/protractor" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/protractor</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://www.protractortest.org/#/" rel="noopener" target="_blank">
              https://www.protractortest.org/#/
            </a>
          </li>
          <li>
            <a
              href="https://tammytorres.medium.com/e2e-testing-on-angular-app-with-protractor-tips-included-f3d5f65a8816"
              rel="noopener" target="_blank">
              https://tammytorres.medium.com/e2e-testing-on-angular-app-with-protractor-tips-included-f3d5f65a8816
            </a>
          </li>
          <li>
            <a href="https://codecraft.tv/courses/angular/unit-testing/jasmine-and-karma/" rel="noopener"
               target="_blank">
              https://codecraft.tv/courses/angular/unit-testing/jasmine-and-karma/
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-previous-next></app-previous-next>
