<mat-toolbar class="row" color="primary">

  <div class="col-12 d-block d-sm-none">
    <div class="align-items">
      <img *ngIf="themeService.selectedTheme.getValue().value === 'classic-theme'" alt="angular" class="me-2"
           src="assets/images/angular.png" style="width: 30px">
      <img *ngIf="themeService.selectedTheme.getValue().value === 'light-theme'" alt="angular" class="me-2"
           src="assets/images/angular-black.png" style="width: 30px">
      <img *ngIf="themeService.selectedTheme.getValue().value === 'dark-theme'" alt="angular" class="me-2"
           src="assets/images/angular-white.png" style="width: 30px">
      Powered by Angular 12
    </div>
  </div>

  <div class="col-12 d-block d-sm-none text-center">
    {{ 'LAYOUT.FOOTER.COPYRIGHT' | translate }}
  </div>

  <div class="col-6 d-none d-sm-block">
    <div class="align-items">
      <img *ngIf="themeService.selectedTheme.getValue().value === 'classic-theme'" alt="angular" class="me-2"
           src="assets/images/angular.png" style="width: 30px">
      <img *ngIf="themeService.selectedTheme.getValue().value === 'light-theme'" alt="angular" class="me-2"
           src="assets/images/angular-black.png" style="width: 30px">
      <img *ngIf="themeService.selectedTheme.getValue().value === 'dark-theme'" alt="angular" class="me-2"
           src="assets/images/angular-white.png" style="width: 30px">
      Powered by Angular 12
    </div>
  </div>

  <div class="col-6 d-none d-sm-block" style="text-align: end">
    {{ 'LAYOUT.FOOTER.COPYRIGHT' | translate }}
  </div>

</mat-toolbar>
