<mat-form-field [appearance]="appearance" [floatLabel]="floatLabelType">

  <mat-label>{{ label }}</mat-label>

  <textarea
    matInput
    #textInput
    [(ngModel)]="model"
    [required]="requiredBoolean"
    [disabled]="disabledBoolean"
    [placeholder]="placeholder"
    [minLength]="minLength"
    [maxlength]="maxLength"
    [rows]="rows">
  </textarea>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

</mat-form-field>
