<div class="row" style="width: 100%">

  <div class="col-6 text-center">
    <app-form-button label="Annuler" shape="raised" prefixIcon="close" (click)="back()"></app-form-button>
  </div>

  <div class="col-6 text-center">
    <app-form-button label="Sauvegarder" color="primary" shape="raised" prefixIcon="done" type="submit"></app-form-button>
  </div>

</div>
