<div class="row align-items-end">
  <div class="col-6">
    <button *ngIf="previous" [routerLink]="previous.route" class="flat-text-color" mat-button style="float: left">
      <mat-icon>navigate_before</mat-icon>
      {{ previous.label | translate }}
    </button>
  </div>
  <div class="col-6">
    <button *ngIf="next" [routerLink]="next.route" class="flat-text-color" mat-button style="float: right">
      {{ next.label | translate }}
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
