<app-content-header headerTitle="MODULES.CODE_ANALYSIS.CODE_SECURITY.TITLE"
                    iconTitle="graphic_eq"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  {{ 'COMMON.LABELS.WORK_IN_PROGRESS' | translate }}
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  {{ 'COMMON.LABELS.WORK_IN_PROGRESS' | translate }}
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  {{ 'COMMON.LABELS.WORK_IN_PROGRESS' | translate }}
</app-card>
