<app-content-header headerTitle="MODULES.CORE.DATABASE.TITLE" iconTitle="settings"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  {{ 'COMMON.LABELS.WORK_IN_PROGRESS' | translate }}
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  {{ 'COMMON.LABELS.WORK_IN_PROGRESS' | translate }}
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  {{ 'COMMON.LABELS.WORK_IN_PROGRESS' | translate }}
</app-card>

<app-previous-next></app-previous-next>
