<mat-toolbar color="primary">

  <button (click)="sidenavService.toggle()" class="max-height" mat-button>
    <mat-icon>menu</mat-icon>
  </button>

  <button (click)="sidenavService.close()" class="max-height" mat-button routerLink="/home">
    <span class="d-block d-sm-none">{{ 'PP' | translate }}</span>
    <span class="d-none d-sm-block">{{ 'TITLE' | translate }}</span>
  </button>

  <span class="spacer"></span>

  <button [matMenuTriggerFor]="themesMenu" class="max-height" mat-button>
    <span class="align-items">
      <mat-icon class="me-2">format_color_fill</mat-icon>
      <span class="d-none d-sm-block">{{ themeService.selectedTheme.getValue().name | translate }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </span>
  </button>
  <mat-menu #themesMenu="matMenu" xPosition="before">
    <button (click)="changeTheme(theme)" *ngFor="let theme of themes"
            [class]="themeService.selectedTheme.getValue() === theme ? 'active-item' : null"
            mat-menu-item>
      <mat-icon *ngIf="theme.icon" [style.color]="theme.iconColor" class="me-2">{{ theme.icon }}</mat-icon>
      {{ theme.name | translate }}
    </button>
  </mat-menu>

  <button [matMenuTriggerFor]="languagesMenu" class="max-height" mat-button>
    <span class="align-items">
      <mat-icon class="me-2"
                svgIcon="{{ internationalizationService.selectedLanguage.getValue().icon?.name }}"></mat-icon>
      <span class="d-none d-sm-block">
        {{ 'LAYOUT.NAVBAR.LANGUAGES.' + internationalizationService.selectedLanguage.getValue().name | translate }}
      </span>
      <mat-icon>arrow_drop_down</mat-icon>
    </span>
  </button>
  <mat-menu #languagesMenu="matMenu" xPosition="before">
    <button (click)="changeLanguage(language)" *ngFor="let language of languages"
            [class]="internationalizationService.selectedLanguage.getValue() === language ? 'active-item' : null"
            mat-menu-item>
      <mat-icon class="me-2" svgIcon="{{ language.icon?.name }}"></mat-icon>
      {{ 'LAYOUT.NAVBAR.LANGUAGES.' + language.name | translate }}
    </button>
  </mat-menu>

  <button (click)="sidenavService.close()" *ngIf="!authenticationService.isLoggedIn"
          class="max-height" mat-button routerLink="/login">
    <mat-icon class="d-block d-sm-none">login</mat-icon>
    <span class="d-none d-sm-block">{{ 'LAYOUT.NAVBAR.LOGIN' | translate }}</span>
  </button>

  <button (click)="authenticationService.logout(); sidenavService.close()" *ngIf="authenticationService.isLoggedIn"
          class="max-height" mat-button>
    <mat-icon class="d-block d-sm-none">power_settings_new</mat-icon>
    <span class="d-none d-sm-block">{{ 'LAYOUT.NAVBAR.LOGOUT' | translate }}</span>
  </button>

</mat-toolbar>
