.mat-toolbar {
  height: var(--navbar-height);
  font: inherit;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  padding-right: 0;
  padding-left: 0;
}

.max-height {
  height: 100%;
}
