<app-content-header headerTitle="MODULES.CORE.INTERNATIONALIZATION.TITLE" iconTitle="settings"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">ngx-translate</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.CORE.INTERNATIONALIZATION.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.CORE.INTERNATIONALIZATION.LI1' | translate }}</li>
          <li>{{ 'MODULES.CORE.INTERNATIONALIZATION.LI2' | translate }}</li>
          <li>{{ 'MODULES.CORE.INTERNATIONALIZATION.LI3' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/@ngx-translate/core" rel="noopener" target="_blank">https://www.npmjs.com/package/@ngx-translate/core</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/ngx-translate/core" rel="noopener" target="_blank">https://github.com/ngx-translate/core</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/@ngx-translate/core" rel="noopener" target="_blank">https://snyk.io/advisor/npm-package/@ngx-translate/core</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a
              href="https://www.codeandweb.com/babeledit/tutorials/how-to-translate-your-angular8-app-with-ngx-translate"
              rel="noopener" target="_blank">
              https://www.codeandweb.com/babeledit/tutorials/how-to-translate-your-angular8-app-with-ngx-translate
            </a>
          </li>
          <li>
            <a href="https://www.digitalocean.com/community/tutorials/angular-ngx-translate" rel="noopener"
               target="_blank">
              https://www.digitalocean.com/community/tutorials/angular-ngx-translate
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>{{ 'MODULES.CORE.INTERNATIONALIZATION.DEMONSTRATION' | translate }}</p>
  <button [matMenuTriggerFor]="languagesMenu" mat-button>
    <mat-icon class="me-2"
              svgIcon="{{ internationalizationService.selectedLanguage.getValue().icon?.name }}"></mat-icon>
    {{ 'LAYOUT.NAVBAR.LANGUAGES.' + internationalizationService.selectedLanguage.getValue().name | translate }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #languagesMenu="matMenu">
    <button (click)="changeLanguage(language)" *ngFor="let language of languages"
            [class]="internationalizationService.selectedLanguage.getValue() === language ? 'active-item' : null"
            mat-menu-item>
      <mat-icon class="me-2" svgIcon="{{ language.icon?.name }}"></mat-icon>
      {{ 'LAYOUT.NAVBAR.LANGUAGES.' + language.name | translate }}
    </button>
  </mat-menu>
</app-card>

<app-previous-next></app-previous-next>
