<app-content-header headerTitle="MODULES.TESTING.UNIT_TESTING.TITLE" iconTitle="verified"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">

  <p>{{ 'MODULES.TESTING.UNIT_TESTING.DESCRIPTION' | translate }}</p>

  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Jasmine</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.TESTING.UNIT_TESTING.JASMINE_DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/jasmine-core" rel="noopener" target="_blank">
          https://www.npmjs.com/package/jasmine-core
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/jasmine/jasmine" rel="noopener" target="_blank">
          https://github.com/jasmine/jasmine
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/jasmine-core" rel="noopener" target="_blank">
          https://snyk.io/advisor/npm-package/jasmine-core
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <table aria-label="specifications" class="mt-5">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">Karma</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.TESTING.UNIT_TESTING.KARMA_DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">npm</th>
      <td class="mat-cell">
        <a href="https://www.npmjs.com/package/karma" rel="noopener" target="_blank">
          https://www.npmjs.com/package/karma
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">GitHub</th>
      <td class="mat-cell">
        <a href="https://github.com/karma-runner/karma" rel="noopener" target="_blank">
          https://github.com/karma-runner/karma
        </a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PACKAGE_HEALTH' | translate }}</th>
      <td class="mat-cell">
        <a href="https://snyk.io/advisor/npm-package/karma" rel="noopener" target="_blank">
          https://snyk.io/advisor/npm-package/karma
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <table aria-label="specifications" class="mt-5">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://angular.io/guide/testing" rel="noopener" target="_blank">
              https://angular.io/guide/testing
            </a>
          </li>
          <li>
            <a href="https://medium.com/swlh/angular-unit-testing-jasmine-karma-step-by-step-e3376d110ab4"
               rel="noopener" target="_blank">
              https://medium.com/swlh/angular-unit-testing-jasmine-karma-step-by-step-e3376d110ab4
            </a>
          </li>
          <li>
            <a href="https://codecraft.tv/courses/angular/unit-testing/jasmine-and-karma/" rel="noopener"
               target="_blank">
              https://codecraft.tv/courses/angular/unit-testing/jasmine-and-karma/
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-previous-next></app-previous-next>
