<app-content-header [rightHeaderTemplate]="rightHeaderTemplate" headerTitle="Liste des utilisateurs"
                    iconTitle="group"></app-content-header>

<ng-template #rightHeaderTemplate>
  <app-form-button label="Créer un utilisateur" shape="raised" prefixIcon="add" routerLink="new"></app-form-button>
</ng-template>

<table [dataSource]="dataSource" aria-describedby="user" mat-table>

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell scope="col">N°</th>
    <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th *matHeaderCellDef mat-header-cell scope="col">Firstname</th>
    <td *matCellDef="let element" mat-cell>{{ element.firstname }}</td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th *matHeaderCellDef mat-header-cell scope="col">Lastname</th>
    <td *matCellDef="let element" mat-cell>{{ element.lastname }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell scope="col">Email</th>
    <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="mobilePhoneNumber">
    <th *matHeaderCellDef mat-header-cell scope="col">Téléphone portable</th>
    <td *matCellDef="let element" mat-cell>{{ element.mobilePhoneNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell scope="col"></th>
    <td *matCellDef="let element" mat-cell>
      <app-form-button shape="icon" icon="edit" tooltip="Consulter" [routerLink]="element.id"></app-form-button>
      <app-form-button shape="icon" icon="delete" tooltip="Supprimer" (click)="remove(element.id)"></app-form-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="42">No data</td>
  </tr>

</table>
