<app-content-header headerTitle="MODULES.ARCHITECTURES.SOFTWARE_ARCHITECTURE.TITLE"
                    iconTitle="architecture"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.ARCHITECTURES.SOFTWARE_ARCHITECTURE.DESCRIPTION' | translate }}</td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="MODULES.ARCHITECTURES.SOFTWARE_ARCHITECTURE.SCHEMA" iconTitle="schema">
  <div class="row">
    <img alt="Software architecture" class="col-12" src="assets/images/software-architecture.png" style="height: 100%">
  </div>
</app-card>

<app-previous-next></app-previous-next>
