<app-edit-page-header [model]="model" resourceName="utilisateur" [rightHeaderTemplate]="rightHeaderTemplate"></app-edit-page-header>

<ng-template #rightHeaderTemplate>
  <app-form-button label="Imprimer" shape="raised" prefixIcon="print"></app-form-button>
</ng-template>

<form class="row" #userForm="ngForm">

  <app-card class="col-md-6" cardTitle="Information générale" iconTitle="person">
    <app-form-text [model]="model.firstname" clearButton label="Prénom"></app-form-text>
    <app-form-textarea [model]="model.description" label="Descriptions"></app-form-textarea>
    <app-form-checkbox [model]="model.checked" label="checked"></app-form-checkbox>
  </app-card>

  <app-card class="col-md-6" cardTitle="Information générale" iconTitle="person">
    Test
  </app-card>

  <app-edit-page-footer></app-edit-page-footer>

</form>
