<app-content-header headerTitle="MODULES.LAYOUT.SIDENAV.TITLE" iconTitle="view_compact"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">
  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col" style="width: 140px">{{ 'COMMON.LABELS.NAME' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.LAYOUT.SIDENAV.NAME' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.LAYOUT.SIDENAV.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PREREQUISITES' | translate }}</th>
      <td class="mat-cell">
        <a routerLink="/tutorial/packages/angular-material">{{ 'MODULES.STYLES.ICONS.PREREQUISITES' | translate }}</a>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI1' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI2' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI3' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI4' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI5' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI6' | translate }}</li>
          <li>{{ 'MODULES.LAYOUT.SIDENAV.LI7' | translate }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://material.angular.io/components/sidenav/overview" rel="noopener" target="_blank">
              https://material.angular.io/components/sidenav/overview
            </a>
          </li>
          <li>
            <a href="https://robferguson.org/blog/2018/11/10/angular-material-toolbar-and-sidenav/" rel="noopener"
               target="_blank">
              https://robferguson.org/blog/2018/11/10/angular-material-toolbar-and-sidenav/
            </a>
          </li>
          <li>
            <a href="https://stackblitz.com/edit/dynamic-nested-sidenav-menu"
               rel="noopener" target="_blank">
              https://stackblitz.com/edit/dynamic-nested-sidenav-menu
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>{{ 'MODULES.LAYOUT.SIDENAV.DEMONSTRATION' | translate }}</p>
</app-card>

<app-previous-next></app-previous-next>
