<app-content-header headerTitle="MODULES.DEVOPS.CONTINUOUS_INTEGRATION.TITLE"
                    iconTitle="all_inclusive"></app-content-header>

<app-card cardTitle="COMMON.LABELS.SPECIFICATIONS" iconTitle="information">

  <p>{{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.INFO' | translate }}
    <a href="https://about.gitlab.com/pricing/" rel="noopener" target="_blank">
      https://about.gitlab.com/pricing/
    </a>
  </p>

  <table aria-label="specifications">
    <tbody>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.DESCRIPTION' | translate }}</th>
      <td class="mat-cell">{{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.DESCRIPTION' | translate }}</td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.PREREQUISITES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a routerLink="/tutorial/testing/unit-testing">{{ 'MODULES.TESTING.UNIT_TESTING.TITLE' | translate }}</a>
          </li>
          <li>
            <a routerLink="/tutorial/testing/end-to-end-testing">{{ 'MODULES.TESTING.END_TO_END_TESTING.TITLE' | translate }}</a>
          </li>
          <li>
            <a routerLink="/tutorial/code-analysis/code-quality">{{ 'MODULES.CODE_ANALYSIS.CODE_QUALITY.TITLE' | translate }}</a>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.FEATURES' | translate }}</th>
      <td class="mat-cell">
        <p>{{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.RUN' | translate}}</p>
        <ul>
          <li>Build</li>
          <li>Lint</li>
          <li>{{ 'MODULES.TESTING.END_TO_END_TESTING.TITLE' | translate }}</li>
          <li>{{ 'MODULES.TESTING.UNIT_TESTING.TITLE' | translate }}</li>
          <li>Sonar</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="mat-header-cell" scope="col">{{ 'COMMON.LABELS.REFERENCES' | translate }}</th>
      <td class="mat-cell">
        <ul>
          <li>
            <a href="https://medium.com/ramsatt/gitlab-ci-cd-with-angular-7-firebase-779bf040bb82" rel="noopener"
               target="_blank">
              https://medium.com/ramsatt/gitlab-ci-cd-with-angular-7-firebase-779bf040bb82
            </a>
          </li>
          <li>
            <a href="https://medium.com/@coco.boudard/angular-devops-ci-cd-with-travis-ci-and-sonar-cloud-42617366026d"
               rel="noopener" target="_blank">
              https://medium.com/@coco.boudard/angular-devops-ci-cd-with-travis-ci-and-sonar-cloud-42617366026d
            </a>
          </li>
          <li>
            <a href="https://nullcast.io/deploy-protractor-e2e-test-in-gitlab-pipeline/" rel="noopener" target="_blank">
              https://nullcast.io/deploy-protractor-e2e-test-in-gitlab-pipeline/
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<app-card cardTitle="COMMON.LABELS.SET_UP" iconTitle="electrical_services">
  <app-setup [setupList]="setupStepList"></app-setup>
</app-card>

<app-card cardTitle="COMMON.LABELS.DEMONSTRATION" iconTitle="ondemand_video">
  <p>
    {{ 'MODULES.DEVOPS.CONTINUOUS_INTEGRATION.DEMONSTRATION' | translate }}
    <a href="https://gitlab.com/personal-group9/personal-project/-/pipelines" rel="noopener" target="_blank">
      https://gitlab.com/personal-group9/personal-project/-/pipelines
    </a>
  </p>
</app-card>

<app-previous-next></app-previous-next>
